$dark_blue : #1d3853;
$flat_blue : #0c3049;
$light_blue : #14a4af;
$flat_light_blue : #0EBDE0;
$ligter_blue : #00bde3;
$slight_blue:#00badf;
$o_blue:#094e7dd6;
$grey : #bccfde;
$flat_grey : #ededed;
$light_grey:rgba(241,241,241,.51);
$dark_grey : #8299AA;
$white: #FFF;
$orange : #ff9d00;
