.about
  h2 about us
  img(src="images/Home/linee.svg", alt="")
  p 
    span N
    span u
    span z
    span h
    span a
    |Tec is an online platform that provides a personal tour guide from the city locals to give a
    br 
    |tour of the city through the eyes of the locals, this tour is predetermined by the tourist or by the 
    br 
    |service provider and we give recommendations for accommodations, restaurants and
    br
    |transportation
