.contents
  .container
    h2 experiences
    .exper
      .img
        img(src="images/Home/ex1.jpg", alt="")
      .text
        p enjoy alnabatat island visit 
          br
          |and its beautiful view
        p 150 LE per person
    .exper
      .img
        img(src="images/Home/ex3.jpg", alt="")
      .text
        p explore abu simbel temple
          br
          | and its hidden beauty
        p 200 LE per person
    .exper
      .img
        img(src="images/Home/ex1.jpg", alt="")
      .text
        p enjoy alnabatat island visit 
          br
          |and its beautiful view
        p 150 LE per person
  .clear-fix
