.restaurants
  .container
    h2 restaurants
    .restaurant
      img(src="images/ASWAN/terrace.jpg", alt="terrace")
      h3 terrace
    .restaurant
      img(src="images/ASWAN/eldokka.jpg", alt="eldokka")
      h3 eldokka
    .restaurant
      img(src="images/ASWAN/terrace.jpg", alt="terrace")
      h3 terrace
    .restaurant
      img(src="images/ASWAN/eldokka.jpg", alt="eldokka")
      h3 eldokka
  .clear-fix
