.cities
  .container
    h2 cities
    .slider-container
      .city
        img(src="images/Home/Aswan.jpg", alt="")
        p alexandria
      .city
        img(src="images/Home/Suez.jpg", alt="")
        p suez
      .city
        a(href='aswan.html')
          img(src="images/Home/Aswan.jpg", alt="")
        p
          a(href="aswan.html") aswan
      .city
        img(src="images/Home/Cairo.jpg", alt="")
        p cairo
  .clear-fix
