.cities
  .container
    h2 cities
    .city
      .img
        i.fa.fa-chevron-left
        img(src="images/Home/Suez.jpg", alt="")
      .text
        p suez
    .city
      .img
        img(src="images/Home/Aswan.jpg", alt="")
      .text
        p aswan
    .city
      .img
        img(src="images/Home/Cairo.jpg", alt="")
        i.fa.fa-chevron-right
      .text
        p cairo
  .clear-fix
