.city-imgs
  .container
    .city-img
      a(href="aswan.html")
        img(src="images/Cities/Aswan.png", alt="Aswan")
      h3 aswan
    .city-img
      img(src="images/Cities/Suez.png", alt="Suez")
      h3 suez
    .city-img
      img(src="images/Cities/Cairo.png", alt="Cairo")
      h3 cairo
    .city-img
      img(src="images/Cities/Alex.png", alt="Alex")
      h3 alex
  .clear-fix
