.experiences
  .container
    h2 top-rated experiences
    .experience
      .img
        img(src="images/Home/Top-rated1.svg").top-rated1
        img(src="images/Home/ex1.jpg", alt="")
      .text
        p enjoy alnabatat island visit 
          br
          |and its beautiful view
        p 150 LE per person
    .experience
      .img
        img(src="images/Home/ex2.jpg", alt="")
      .text
        p get some relaxtion in
          br
          | kornish elsuez
        p 200 LE per person
    .experience
      .img
        img(src="images/Home/ex3.jpg", alt="")
        img(src="images/Home/Top-rated2.svg").top-rated2
      .text
        p explore abu simbel temple
          br
          | and its hidden beauty
        p 200 LE per person
  .clear-fix
