.feedback
  .container
    h2 give us a feedback
    form
      input(type = "text", placeholder = "Type your name here")
      input(type = "email", placeholder = "Type your email here")
      input(type = "text", placeholder = "Your subject")
      textarea(placeholder = "Your feedback")
      input(type = "submit", value = "submit")
