.booking
  .container
    .book
      span select participants and date:
      form
        input(type="text", placeholder="Guest x 3")
        input(type="date", placeholder="novemebr 20, 2019")
        .clear-fix
        input(type="submit", value="check availability")
    .request
      .price
        p explore the botanical gardens and its beauty
        p total price 
          span 600 egp
      hr
      .timing
        p starting time
        p 4:00 PM
      .details
        p price details
        p Guest x 200 EGP
          span 600 egp
      hr
      button request service
  .clear-fix
