.gardens
  .container
    .exploring
      h3 explore the botanical gardens and its beauty
      p The Botanical Gardens on Lord Kitchener island, home to an array of plants that were imported from all over the world
        br 
        |in the 1800s. Enjoy some free time to stroll arond the gardens, admiring the majestic palm trees that line the walk
        br
        |ways including the Sabal Palm and Phonic Palm as well as Ficus trees and other beautiful bougainvillea trees.
    hr
    .abouting
      h3 about this trip
      .about_garden
        .info
          i.fa.fa-user(aria-hidden='true')
          span 200 L.E per person
        .info
          i.fa.fa-clock-o(aria-hidden='true')
          span Duration: 3 Hours
        .info
          i.fa.fa-user(aria-hidden='true')
          span 200 L.E per person
  .clear-fix
