.services
  .container
    h2 other services
    h3 NuzhaTec can recommend you these services
    .service
      .img
        img(src="images/Home/dish.svg", alt="")
      .text
        p restaurants
    .service
      .img
        img(src="images/Home/hotel.svg", alt="")
      .text
        p stays
  .clear-fix
