@mixin main_sections_home ($padding-top) {
  float: left;
  padding-top: $padding-top;
  text-align: center;
  position: relative;
}

@mixin buttons ($bac-color, $top-bottom, $left-right, $font-size, $border) {
  background-color: $bac-color;
  border: $border;
  padding: $top-bottom $left-right;
  color: #FFF;
  font-size: $font-size;
  border-radius: 25px;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
  outline: 0;
}

@mixin headings ($color, $font-size) {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  color: $color;
  font-size: $font-size;
}
