footer
  .container
    .content
      .heading.img-header
        img(src="images/footer_images/logo-light.svg")
      .text
        p Cities
        p Experiences
        p Become a tour guide
    .content
      .heading
        h3 Contact us
      .text
        p Nuzhatec20@gmail.com
        p +201020283410
    .content
      .heading
        h3 Mobile
      .text
        img(src="images/footer_images/apple-store-icon-transparent-8.jpg.png", alt="apple store").app-store
        img(src="images/footer_images/googleplay-download1.png", alt="google play")
    .content
      .heading
        h3 Ways you can pay
        img(src="images/footer_images/paypal.png", alt="pay pal")
    .clear-fix
    .copy-right
      img(src="images/footer_images/facebook.svg", alt="facebook logo")
      img(src="images/footer_images/instagram.svg", alt="instagrm logo")
      img(src="images/footer_images/linkedin.svg", alt="linkedin logo")
      img(src="images/footer_images/youtube.svg", alt="youtube logo")
      p Copyright &copy; 2019-2020 NuzhaTec
