- var pageTitle = 'Aswan'
doctype html
html
  head
    include layout/meta-files
    title #{pageTitle}
  body
    include components/aswan-header
    include components/line-bottom
    include components/aswan-content
    hr
    include components/aswan-restaurants
    include components/line-top
    include layout/footer
    include layout/footer-scripts
