- var pageTitle = 'Cities'
doctype html
html
  head
    include layout/meta-files
    title #{pageTitle}
  body
    include components/city-header
    include components/line-bottom
    include components/city-image
    include components/line-top
    include layout/footer
    include layout/footer-scripts
