- var pageTitle = 'Home'
doctype html
html
  head
    include layout/meta-files
    title #{pageTitle}
  body
    include layout/navbar
    include layout/header
    include components/about
    include components/line-bottom
    include components/cities
    hr
    include components/experiences
    hr
    include components/services
    hr
    include components/forms
    include components/line-top
    include layout/footer
    include layout/footer-scripts
