extends hotel-owner.pug
block page-title
    title Become a restaurant owner
block sliderTitle
     div(class='Theader')
        img(src='images/service-provider/RESTOwner.jpg' class='img-responsive')
        div(class='col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1')
            p#plead BECOME A RESTAURANT OWNER
block H
    h4.Th BECOME A RESTAURANT OWNER
block labelchg1
    label(for='') Restaurant name
    input(type="text" class="form-control" id="" placeholder="e.g. Explore alkournish & portwfik beauty")
block placechg1
    input(type="text" class="form-control" id="" placeholder="e.g. algish st. - alkournish")
block labelchg2
    label(for="") Add the restaurant menu