.cities {
  padding-top: 50px;
  padding-bottom: 50px;
  @include headings ($flat_light_blue, 25px);
  position: relative;
  overflow: hidden;
  .slick-prev:before, .slick-next:before {
  	color: #bccfde;
  	font-size: 30px;
  }
  .city {
    outline: none;
    padding-top: 50px;
    img {
      width: 70%;
      border-radius: 50%;
      margin: auto;
    }
    a {
      color: $flat_blue;
      font-size: 18px;
      text-transform: capitalize;
      outline: 0;
      &:hover {
        text-decoration: none;
      }
    }
    p {
      color: $flat_blue;
      font-size: 18px;
      text-transform: capitalize;
    }
  }
}
